In [1]:
import pandas as pd

### SERIES

- Creating Pandas-Series(column)
  - It is a 1D column which holds data of different types

In [18]:
new_series = [1,5,99,'usama', True, 11.56]
print(pd.Series(new_series))

0        1
1        5
2       99
3    usama
4     True
5    11.56
dtype: object

- Getting data row-wise using indexing.

In [4]:
second_series = [1,22,63,79,28,70,99]
second_series = pd.Series(second_series)
print(second_series[3])

79

- Creating our own indexing for the Series.

In [5]:
third_series = [32,65,4,96,42,88,17,9801,6432]
third_series = pd.Series(third_series, index=['A', 'B','C','D','E','F','G','H','I'])
print(third_series)

A      32
B      65
C       4
D      96
E      42
F      88
G      17
H    9801
I    6432
dtype: int64

- Making series in Dictionary

In [6]:
dict_series = {'Day1': 230, 'Day2': 120, 'Day3': 450}
dict_series = pd.Series(dict_series)
print(dict_series)

Day1    230
Day2    120
Day3    450
dtype: int64

- Getting Data from Dictionary using Indexing.

In [7]:
dict_series = {'Day1': 230, 'Day2': 120, 'Day3': 450}
dict_series = pd.Series(dict_series)
print(dict_series['Day2'])

120

---

### DATAFRAMES

- Data sets in python are usually multidimensional tables, and they are called DataFrames.
  - Series are only columns and DataFrames are whole tables.

Below we will create DataFrames using 2 or Series. And also override the default indexing

In [2]:
data_frame = {'cal': [458,550,230,100,230], "duration": [20,40,80,96,36]}
data_frame = pd.DataFrame(data_frame, index=['a','b', 'c','d','e'])
print(data_frame)

   cal  duration
a  458        20
b  550        40
c  230        80
d  100        96
e  230        36

- TO check columns and Rows in a Dataset

In [8]:
print("Index_Names", data_frame.index)
print("Column_Names",data_frame.columns)

Index_Names Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
Column_Names Index(['cal', 'duration'], dtype='object')

- To get Details related to dataset either of null-values, no. of rows, data types and memory usage.

In [10]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cal       5 non-null      int64
 1   duration  5 non-null      int64
dtypes: int64(2)
memory usage: 120.0+ bytes

- TO get Mean, Median, and other statistical information of the Dataset.

In [11]:
data_frame.describe()

              cal   duration
count    5.000000   5.000000
mean   313.600000  54.400000
std    184.620692  32.074912
min    100.000000  20.000000
25%    230.000000  36.000000
50%    230.000000  40.000000
75%    458.000000  80.000000
max    550.000000  96.000000